
<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">

<error-msg id="errormsg"></error-msg>

<dom-module id="problem-testcase">
	<style>
		textarea {
			min-height: 18em;
			min-width: 12em;
		}
	</style>
	<template>
		<paper-dialog id="editdialog">
			<h3>编辑测试用例</h3>
			<form class="pure-form">
				<textarea value="{{problem.in_file::input}}"></textarea>
				<textarea value="{{problem.out_file::input}}"></textarea>
			</form>
			<div class="buttons">
				<paper-button dialog-dismiss>取消</paper-button>
				<paper-button on-click="update_upstream">提交</paper-button>
			</div>
		</paper-dialog>
		<iron-ajax id="ajaxfetch" url="" handle-as="json" on-response="fetch_response" on-error="fetch_error"></iron-ajax>
		<iron-ajax id="ajaxpost" url="" method="POST" handle-as="json" content-type="application/json"
				on-response="update_response" on-error="update_error"></iron-ajax>
		<error-msg id="errormsg"></error-msg>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'problem-testcase',
		
		open: function () { this.$.editdialog.open(); },
		close: function () { this.$.editdialog.close(); },
		
		fetch: function (id) {
			if (id !== -1) {
				this.$.ajaxfetch.param = JSON.stringify({ id: id });
				this.$.ajaxfetch.url = '/problems/' + id + '/detail';
				this.$.ajaxfetch.generateRequest();
			}
		},
		
		fetch_response: function (e) { this.problem = e.detail.response; },
		
		fetch_error: function (e) {
			this.$.errormsg.show(e.detail.error);
			this.close(); },
			
		update_upstream: function () {
			this.$.ajaxpost.body = JSON.stringify([ this.problem ]);
			this.$.ajaxpost.url = '/problems/' + this.problem.ID;
			this.$.ajaxpost.generateRequest();
		},
			
		update_response: function (e) {
			this.close(); },
		
		update_error: function (e) {
			this.$.errormsg.show(e.detail.error); }	
		
	});
</script>