
<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="horizon-modal.html">
<link rel="import" href="error-msg.html">
<link rel="import" href="auth-behavior.html">
<link rel="import" href="problem-testcase.html">
<link rel="import" href="checkbox-bitfield.html">

<dom-module id="problem-detail">
	<link rel="stylesheet" href="/assets/pure-min.css">
	<style>
		.inner-wrapper {
			padding: 1em; }
		
		.horizon-serperated {
			display: -webkit-flex;
			display: flex;
			justify-content: space-around;
		}
		
		.horizon-serperated .horizon-div {
			width: 100%;
			padding: 0.5em 1em;
		}
		
		.horizon-serperated .horizon-div-label {
			-webkit-flex-shrink: 0;
			flex-shrink: 0;
			padding: 0.5em 1em;
		}
			
		.grp-textarea.grp-vert textarea {
			display: block;
			width: 100%;
		}
		
		.grp-vert label {
			padding: 0.5em;
			display: block;
		}
		
		#i-desc {
			width: 100%; }
			
		#button-group {
			float: right; }
		
		textarea {
			min-height: 8em; }
			
		checkbox-bitfield {
			--checkbox-direction: row;
			--checkbox-style: {
				justify-content: center; };
		}
	</style>
	
	<template>
		<div id="wrapper">
			<horizon-modal id="modal">
				<div class="inner-wrapper">
					<div class="pure-form pure-form-aligned">
						<fieldset>
							<div class="pure-control-group">
								<label for="i-title">标题: </label>
								<input is="iron-input" id="i-title" bind-value="{{problem.title}}" readonly$="[[!authed]]">
								<div id="button-group">
									<paper-button close-horizon>关闭</paper-button>
									<paper-button disabled="[[!authed]]" on-click="more_detail_open">编辑测试用例</paper-button>
									<paper-button disabled="[[!authed]]" on-click="update_upstream">提交</paper-button>
								</div>
							</div>
							<div class="pure-control-group pure-u-1">
								<span>
									<label for="i-time">时间限制: </label>
									<input is="iron-input" id="i-time" bind-value="{{problem.time_limit}}" readonly$="[[!authed]]">
								</span>
								<span>
									<label for="i-memory">空间限制: </label>
									<input is="iron-input" id="i-memory" bind-value="{{problem.memory_limit}}" readonly$="[[!authed]]">
								</span>
							</div>
							<div>
								<checkbox-bitfield bitfield="[[languageBit]]" value="{{problem.language_limit}}" disabled="[[!authed]]"></checkbox-bitfield>
							</div>
						</fieldset>
					</div>
					<div class="pure-form">
						<div class="grp-vert">
							<div class="horizon-div-label"><label for="i-desc">问题描述: </label></div>
							<div class="horizon-div"><textarea id="i-desc" readonly$="[[!authed]]" value="{{problem.description::input}}"></textarea></div>
						</div>
						<div class="horizon-serperated">
							<div class="horizon-div grp-textarea grp-vert">
								<label for="i-input">示例输入: </label>
								<textarea id="i-input" readonly$="[[!authed]]" value="{{problem.input::input}}"></textarea>
							</div>
							<div class="horizon-div grp-textarea grp-vert">
								<label for="i-output">示例输出: </label>
								<textarea id="i-output" readonly$="[[!authed]]" value="{{problem.output::input}}"></textarea>
							</div>
						</div>
					</div>
				</div>
			</horizon-modal>
			<problem-testcase id="testcases"></problem-testcase>
			<iron-ajax id="ajaxfetch" url="" handle-as="json" on-response="fetch_response" on-error="fetch_error"></iron-ajax>
			<iron-ajax id="ajaxpost" url="" method="POST" handle-as="json" content-type="application/json"
				on-response="update_response" on-error="update_error"></iron-ajax>
			<error-msg id="errormsg"></error-msg>
		</div>
	</template>
</dom-module>

<script>
	Polymer({
		is: 'problem-detail',
		
		properties: {
			problem: {
				type: Object,
				notify: true
			},
			languageBit: Object
		},
		
		behaviors: [ AuthBehavior ],
		
		open: function () { this.$.modal.open();  },
		
		close: function () { this.$.modal.close(); },
			
		fetch: function (id) {
			if (id !== -1) {
				this.$.ajaxfetch.param = JSON.stringify({ id: id });
				this.$.ajaxfetch.url = '/problems/' + id;
				this.$.modal.dim();
				this.$.ajaxfetch.generateRequest();
			}
		},
		
		fetch_response: function (e) {
			this.problem = e.detail.response;
			setTimeout(function (that) { that.$.modal.undim(); }, 100, this);
		},
		
		fetch_error: function (res) {
			this.$.errormsg.show(res.detail.error);
			this.close(); },
			
		more_detail_open: function () {
			this.$.testcases.fetch(this.problem.ID);
			this.$.testcases.open(); },
			
		update_upstream: function () {
			this.$.ajaxpost.body = JSON.stringify([ this.problem ]);
			this.$.ajaxpost.url = '/problems/' + this.problem.ID;
			this.$.ajaxpost.generateRequest();
			this.$.modal.dim();
		},
		
		update_response: function (e) {
			this.$.modal.undim();
			this.close();
		},
		
		update_error: function (e) {
			this.$.errormsg.show(e.detail.error);
			this.$.modal.undim();
		}
	
	});
</script>
