
<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">

<link rel="import" href="item-edit.html">
<link rel="import" href="selected-dimmer-behavior.html">
<link rel="import" href="error-msg.html">

<dom-module id="problem-list">
	<link rel="stylesheet" href="/assets/pure-min.css">
	<style>
		:host {
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: center;
			justify-content: center;
		}
		/* 150615 secondwtq: delete unused styles (we have flexbox now) */
		
		table thead {
			text-align: center; }
		
		paper-icon-button {
			color: gray; }
	</style>
	
	<template>
		
		<iron-ajax auto id="ajax" url="/api/problems" handle-as="json" last-response="{{problems}}" on-response="update_response" on-error="update_error"></iron-ajax>
		<paper-material id="card">
			<table class="pure-table pure-table-horizontal">
				<thead><tr><td>编号</td><td>标题</td><td>时间限制</td><td>空间限制</td><td>语言限制</td><td>启用</td><td></td></tr></thead>
				<tbody class="pure-table-odd">
					<template is="dom-repeat" items="{{problems}}">
						<tr>
							<td>{{item.ID}}</td>
							<td><item-edit problem="{{item}}" field="title" title="编辑 - 标题"></item-edit></td>
							<td><item-edit problem="{{item}}" field="time_limit" validate="[0-9]" title="编辑 - 时间限制"></item-edit></td>
							<td><item-edit problem="{{item}}" field="memory_limit" validate="[0-9]" title="编辑 - 内存限制"></item-edit></td>
							<td><item-edit problem="{{item}}" field="language_limit" bitfield="{{languageBit}}" title="编辑 - 语言限制"></item-edit></td>
							<td><item-edit problem="{{item}}" field="enable" title="编辑 - 启用" just-a-checkbox></item-edit></td>
							<td><paper-icon-button icon="editor:mode-edit" on-click="fire_edit"></paper-icon-button></td>
						</tr>
					</template>
				</tbody>
			</table>
		</paper-material>
		<iron-signals on-iron-signal-problem-list-update="update_list"></iron-signals>
		<error-msg id="errormsg" modal></error-msg>
	</template>
</dom-module>

<script src="/assets/underscore.js"></script>
<script src="/assets/blts.js"></script>

<script>
	Polymer({
		is: 'problem-list',
		
		properties: { languageBit: { type: Object, notify: true } },
		behaviors: [ SelectedDimmerBehavior ],
		
		fire_edit: function (e) { this.fire('iron-signal', { name: 'edit-problem', data: e.model.item }); },
		
		// 150615 secondwtq
		// updated, problem-list-update signal, partial dimmer, error-msg 
		attached: function () { this.dim_target(this.$.card); },

		update_list: function () {
			this.dim_target(this.$.card);
			this.$.ajax.generateRequest(); },
		update_response: function () {
			this.undim_target(this.$.card); },
		update_error: function(e) {
			this.$.errormsg.show('更新问题列表时出现错误: \n' + e.detail.error); }
	});
</script>