
<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/iron-validatable-behavior/iron-validatable-behavior.html">

<script>
	
	Polymer({
		
		is: 'valid-input',
		
		inheritance: 'iron-input',
		
		// properties: {
		// 	invalid: {
		// 		notify: true,
		// 		type: Boolean,
		// 		value: false
		// 	}
		// },
		
		// behaviors: [ Polymer.IronValidatableBehavior ],
		
		// listeners: { 'input': 'on_input' },
		
		// on_input: function (e) {
		// 	this.invalid = !this.validate(e.target.bindValue); },
			
	});
	
</script>